// MIXINS **********************************************************************
//[m]ixin_DrawSprite
/*  Draws a sprite onscreen
    @params   integer   required    The Width of the Sprite
    @params   integer   required    The Height of the Sprite
    @params   integer   required    The X Offset
    @params   integer   required    The Y Offset
    @params   string    required    The Path to the Sprite */
.mixin_DrawSprite(@iWidth,@iHeight,@iOffsetX,@iOffsetY,@sSprite) {
  width: @iWidth*1px;
  height: @iHeight*1px;
  background-image: url('@{sSprite}');
  background-position: @iOffsetX*1px @iOffsetY*1px;
}


//ALIASES **********************************************************************
.alias_WeatherIcon_ChanceFlurries { .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  0,0,@imgWeatherSprite);}
.alias_WeatherIcon_ChanceRain {     .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-1px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_ChanceSleet {    .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-2px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_ChanceSnow {     .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-3px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_ChanceTStorms {  .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-4px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_Clear {          .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-5px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_Flurries {       .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-6px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_Fog {            .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-7px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_Haze {           .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-8px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_Sleet {          .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-9px, 0,                          @imgWeatherSprite);}
.alias_WeatherIcon_Rain {           .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  0,                          @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_Snow {           .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-1px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_TStorms {        .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-2px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_Cloudy {         .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-3px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_MostlyCloudy {   .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-4px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_MostlySunny {    .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-5px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_PartlyCloudy {   .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-6px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_PartlySunny {    .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-7px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_Unknown {        .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-8px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
.alias_WeatherIcon_Blank {          .mixin_DrawSprite(@imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*1px,  @imgWeatherSpriteSize*-9px, @imgWeatherSpriteSize*-1px, @imgWeatherSprite);}
