/* 1440x900 Resolution */
@szContainer: 1400;                                                             //Main Container Width (in Pixels)
@szMargin: 15;                                                                  //Margin Between Boxes (in Pixels)
@szCol: 454;                                                                    //Column Size (in Pixels)
@szRow: 223;                                                                    //Full-Sized Row Height (in Pixels)
@szRowHalf: 104;                                                                 //Half-Sized Row Height (in Pixels)
@fntDefaultSize: 14px;                                                          //Main Font-Size (in Pixels, Fonts scale automatically)
@imgWeatherSprite: '/images/sprite128.png';                                     //Path to Weather Icon Sprite
@imgWeatherSpriteSize: 128;                                                     //Sprite Icon Sizes