/* COLORS */
@clrBackground:     rgb(0,0,0);                                                 //Black
@clrFont:           rgb(251,252,252);                                           //White
@clrInside:         rgb(52,152,219);                                            //Blue
@clrOutside:        rgb(46,204,113);                                            //Green
@clrForecast:       rgb(26,188,156);                                            //Turquoise
@clrHistoryHeader:  @clrInside;                                                 //Blue
@clrHistoryRowEven: rgb(44,62,80);                                              //Dark Gray
@clrHistoryRowOdd:  rgb(52,73,94);                                              //Light Gray

/* OPACITY SETTINGS */
@iOpacityTransition: 3;                                                         //Number of Seconds to animate opacity changes

/* FONTS (see inc.fonts.less for more) */
@fntDefault: 'Droid Sans', 'Geneva', 'DejaVu Sans', sans-serif;

/* IMAGES / SPRITES */
@imgArrowSprite: '/images/arrows.png';

/* Additional Settings are loaded by Resolution Files
    > See inc.1280x720.less
    > See inc.1400x800.less
    > See inc.1920x1080.less
*/