/* Global Settings ---------------------------------------------------------- */
body {
  background: @clrBackground;
  font-family: @fntDefault;
  font-size: @fntDefaultSize;
  color: @clrFont;
  margin: @szMargin*1px 0 0 0;
  overflow:hidden;
}
body.scroll { overflow-y: auto;}
.header {
  text-align: center;
  font-size: 4em;
  font-weight: 700;
  line-height: @szRowHalf*1px;
  margin-bottom: @szMargin*2px !important;
}

/* Icons -------------------------------------------------------------------- */
.icon.chanceflurries {  .alias_WeatherIcon_ChanceFlurries; }
.icon.chancerain {      .alias_WeatherIcon_ChanceRain;}
.icon.chancesleet {     .alias_WeatherIcon_ChanceSleet;}
.icon.chancesnow {      .alias_WeatherIcon_ChanceSnow;}
.icon.chancetstorms {   .alias_WeatherIcon_ChanceTStorms;}
.icon.clear {           .alias_WeatherIcon_Clear;}
.icon.sunny {           .alias_WeatherIcon_Clear;}
.icon.flurries {        .alias_WeatherIcon_Flurries;}
.icon.fog {             .alias_WeatherIcon_Fog;}
.icon.haze {            .alias_WeatherIcon_Haze;}
.icon.sleet {           .alias_WeatherIcon_Sleet;}
.icon.rain {            .alias_WeatherIcon_Rain;}
.icon.snow {            .alias_WeatherIcon_Snow;}
.icon.tstorms {         .alias_WeatherIcon_TStorms;}
.icon.cloudy {          .alias_WeatherIcon_Cloudy;}
.icon.mostlycloudy {    .alias_WeatherIcon_MostlyCloudy;}
.icon.mostlysunny {     .alias_WeatherIcon_MostlySunny;}
.icon.partlycloudy {    .alias_WeatherIcon_PartlyCloudy;}
.icon.partlysunny {     .alias_WeatherIcon_PartlySunny;}
.icon.unknown {         .alias_WeatherIcon_Unknown;}

/* Arrow Sprite Indicators -------------------------------------------------- */
.drawarrow {
  &:after {
    content: " ";
    display: inline-block;
    float: right;
    margin: 0.15em 0.15em 0 -9999px;
  }
  &.up { &:after {        .mixin_DrawSprite(32,80,0,0,@imgArrowSprite); }}
  &.down { &:after {      .mixin_DrawSprite(32,80,-32,0,@imgArrowSprite); }}
  &.nochange { &:after {  .mixin_DrawSprite(32,80,-64,0,@imgArrowSprite); }}
}

.drawsmallarrow {
  display: inline-block;
  position: relative;
  top: 4px;
  margin: 0 0 0 0.2em;
  &.up {        .mixin_DrawSprite(8, 20, -97, 0, @imgArrowSprite); }
  &.down {      .mixin_DrawSprite(8, 20, -106, 0, @imgArrowSprite); }
  &.nochange {  .mixin_DrawSprite(8, 20, -115, 0, @imgArrowSprite); }
}

/* UI Element Icons --------------------------------------------------------- */
.icon.ui { position: relative; top: 8px; margin: 0 5px;}
.icon.ui.sunrise { .mixin_DrawSprite(60,60,0,-80, @imgArrowSprite); }
.icon.ui.wind { .mixin_DrawSprite(60,60,-60,-80, @imgArrowSprite); }

/* Containers --------------------------------------------------------------- */
#container {
  width: @szContainer*1px;
  margin: 0 auto;
  opacity: 0;
  .prefix_transition(opacity @iOpacityTransition*1s ease-in-out);
  .col {
    width: @szCol*1px;
    display: inline-block;
    vertical-align: top;
    &:nth-child(1), &:nth-child(2) { margin-right: @szMargin*1px;}
    .row-full {
      height: @szRow*1px;
      overflow:hidden;
    }
    .row-half {
      height: @szRowHalf*1px;
      overflow:hidden;
    }
  }
}

/* Inside Details ----------------------------------------------------------- */
#inside {
  .header {
    background: @clrInside;
  }
  div {
    background: @clrInside;
    margin-bottom: @szMargin*1px;
    span {
      display: block;
      text-align: center;
      &:first-child {
        font-size:10em;
        font-weight: 700;
        padding: 0.2em 0 0 0;
      }
      &:last-child {
        font-size: 1.6em;
        letter-spacing: 0.1em;
      }
    }
    &:last-child { margin-bottom: 0;}
    #date{
      white-space:nowrap;
      .prefix_transition(all 1s ease-in-out);
    }
  }
}

/* Outside Details ---------------------------------------------------------- */
#outside {
  .header {
    background: @clrOutside;
  }
  div {
    margin-bottom: @szMargin*1px;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .row-full {
    background: @clrOutside;
    span {
      display: block;
      text-align: center;
      &:first-child {
        font-size:10em;
        font-weight: 700;
        padding: 0.2em 0 0 0;
      }
      &:last-child {
        font-size: 1.8em;
        //letter-spacing: 0.1em;
      }
    }
  }
  .row-half {
    background: @clrOutside;
    span {
      line-height: @szRowHalf*1px;
      font-size: 5em;
      width: 46%;
      display: inline-block;
      font-weight: 700;
      &:first-child {
        text-align: left;
        padding: 0 0 0 0.2em;
      }
      &:last-child {
        text-align: right;
      }
    }
  }
  .row-half.conditions span {
    &:first-child { width: 38%;}
    &:nth-child(2) { width: 60px;}
    &:last-child { width: 38%;}
  }
}

/* Window Details ----------------------------------------------------------- */
#outside_wind0A {
  #wind_speed {
    display: inline;
    marign-right: 0.05em;
  }
  #wind_dir {
    display: inline-block;
    font-size: 0.42em;
    position: relative;
    text-align:left;
    top: 0em;
    line-height: 1em;
    margin: 0 0.2em 0 -0.4em;
    text-transform: uppercase;
  }
}

/* Forecast Details --------------------------------------------------------- */
#forecast {
  .header {
    background: @clrForecast;
    margin-bottom: @szMargin*1px;
  }
  div.row-full {
    background: @clrForecast;
    /*color: @clrFontFade;*/
    margin-bottom: @szMargin*1px;
    &:last-child { margin-bottom: 0;}
    &:nth-child(2) { background: @clrForecast; color: @clrFont;}
  }
  .day {
    display: block;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    padding: 0.7em 0 0.25em 0;
    letter-spacing: 0.1em;
    line-height: 0.75em;
  }
  .fore-temp {
    span {
      font-size: 1.5em;
      font-weight: 400;
      line-height: 1.5em;
    }
    margin: 0;
  }
  .fore-col {
    margin: 0;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    width: 62%;
  }
  .fore-detail {
    width: 49%;
    display: inline-block;
    margin: 1em 0;
    &.left span, &.right span {
      display: inline-block;
      line-height: 1.5em;
    }
    &.left {
      text-align: left;
      span {
        padding-left: 1.5em;
      }
    }
    &.right {
      text-align: right;
      span {
        padding-right: 2em;
        font-weight: 700;
      }
    }
  }
  .icon {
    width: @imgWeatherSpriteSize*1px;
    height: @imgWeatherSpriteSize*1px;
    margin: ((((@szRow - @imgWeatherSpriteSize) - (@fntDefaultSize * 2))/2)*1px) 0.5em 0.5em 1em;
    display: inline-block;
  }
  .fore-text {
    display: block;
    font-size: 2em;
    font-weight: 700;
    margin: 0;
    text-align: center;
    width: 100%;
    position: relative;
    top: -0.15em;
    text-transform: uppercase;
  }
}

/* History Page ------------------------------------------------------------- */
.history {
  padding-bottom: 1em;
  table {
    width: 100%;
    font-weight: 400;
    font-size: 2em;
    line-height: 2em;
    tr {
      &.titles {
        border-bottom: 2px solid @clrBackground;
        td {
          font-size: 0.5em;
          background-color: @clrHistoryHeader;
          line-height: 2em;
          &:nth-child(1) { padding-left: 1em;}
          color: @clrFont;
        }
      }
      td {
        text-align: left;
        color: darken(@clrFont,20);
        &.header {
          border-top: 2px solid @clrBackground;
          font-size: 1.25em;
          line-height: 1.25em;
          font-weight: 700;
          background-color: @clrHistoryHeader;
          padding: 0;
          color: @clrFont;
          em {
            font-size: 1.5em;
            line-height: 1.5em;
          }
          span {
            font-weight: 300;
            font-size: 1em;
            line-height: 1em;
            padding: 0.5em 0 0 1em;
          }
        }
      }
      &:nth-child(even) {
        background-color: @clrHistoryRowEven;
        &:hover {
          background-color: lighten(@clrHistoryRowEven,30);
          td { color: @clrFont;}
        }
      }
      &:nth-child(odd) {
        background-color: @clrHistoryRowOdd;
        &:hover {
          background-color: lighten(@clrHistoryRowOdd,30);
          td { color: @clrFont;}
        }
      }
      td:nth-child(1) { width: 10%; padding-left: 0.5em; }
      td:nth-child(2) { width: 35%; }
      td:nth-child(3) { width: 15%; }
      td:nth-child(4) { width: 10%; }
      td:nth-child(5) { width: 10%; }
      td:nth-child(6) { width: 10%; }
      td:nth-child(7) { width: 10%; }
    }
  }
}

/* Graphs ------------------------------------------------------------------- */
.graphs {
  div {
    background: @clrBackground;
    height: 300px;
    &.full {
      width: 100%;
      margin: 0 auto 1em 0;
    }
    &.half {
      width: 49%;
      margin: 0 0 1em 0;
    }
  }
  .fr { float: right;}
  .fl { float: left;}
  .cf:before, .cf:after { content: " "; display: table; }
  .cf:after { clear: both; }
}
