/* 1280x720 */
@szContainer: 1260;                                                             //Main Container Width (in Pixels)
@szMargin: 10;                                                                  //Margin Between Boxes (in Pixels)
@szCol: 410;                                                                    //Column Size (in Pixels)
@szRow: 190;                                                                    //Full-Sized Row Height (in Pixels)
@szRowHalf: 90;                                                                 //Half-Sized Row Height (in Pixels)
@fntDefaultSize: 12px;                                                          //Main Font-Size (in Pixels, Fonts scale automatically)
@imgWeatherSprite: '/images/sprite100.png';                                     //Path to Weather Icon Sprite
@imgWeatherSpriteSize: 100;                                                     //Sprite Icon Sizes