/* Animation Styles --------------------------------------------------------- */
.anim_fade {          .prefix_opacity(0); }
.anim_flip {          .prefix_transform-style(preserve-3d); .prefix_transform(rotateX(90deg)); }
.anim_rotate {        .prefix_transform-style(preserve-3d); .prefix_transform(rotateY(90deg)); }
.anim_scale {         .prefix_transform(scale(0.5)); }
.anim_slidedown {     margin-top: 3em; }
.anim_slideleft {     margin-left: -300%; }
.anim_slideright {    margin-left: 200%; }
.anim_slideup {       margin-top: -3em; }
.anim_zoom {          .prefix_transform(scale(2)); }

/* Animation Combinations --------------------------------------------------- */
.anim_fadeflip {       .anim_fade; .anim_flip; }
.anim_faderotate {     .anim_fade; .anim_rotate; }
.anim_fadescale{       .anim_fade; .anim_scale; }
.anim_fadeslidedown {  .anim_fade; .anim_slidedown; }
.anim_fadeslideleft {  .anim_fade; .anim_slideleft; }
.anim_fadeslideright { .anim_fade; .anim_slideright; }
.anim_fadeslideup {    .anim_fade; .anim_slideup; }
.anim_fadezoom {       .anim_fade; .anim_zoom; }