/* 1920x1080 */
@szContainer: 1880;                                                             //Main Container Width (in Pixels)
@szMargin: 30;                                                                  //Margin Between Boxes (in Pixels)
@szCol: 600;                                                                    //Column Size (in Pixels)
@szRow: 255;                                                                    //Full-Sized Row Height (in Pixels)
@szRowHalf: 112;                                                                 //Half-Sized Row Height (in Pixels)
@fntDefaultSize: 16px;                                                          //Main Font-Size (in Pixels, Fonts scale automatically)
@imgWeatherSprite: '/images/sprite128.png';                                     //Path to Weather Icon Sprite
@imgWeatherSpriteSize: 128;                                                     //Sprite Icon Sizes